/* Universal Selector */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    max-width: 1280px;
    margin: 0 auto;
}

/* Sheared styles */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
}

/* header section start here */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
   

}
.section-heading{
    font-size: 32px;
    font-weight: bold;
}
nav ul li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    border: 3px solid #006A50;
    padding:20px 35px;
    border-radius: 8px;
    color:#006A50;
    font-weight: 600;
}
/* header section end here */

/* main section start here */

/* /* invocation styles  */
.container{
    display: flex;
    justify-content: center;
    background-color:#C6E4D6;
    margin-top: 20px;
    align-items: center;
    height: 560px;
    border-radius: 16px;
    padding: 100px 20px;
}
.left{
    margin-left: 59px;
    margin-top: 117px;
    margin-bottom: 117px;
}
.banner-heading{
    font-size: 24px;
    margin-bottom: 16px;
    line-height: auto;
    color:#0E0E0E;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    line-height: auto;
}
.button{
    width:270px;
    height:56px;
    padding:20px 30px;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    color: #fff;
    font-weight: 600;
    margin-top: 24px;
}
/* main section ends here */

  